<div id="delete-contact-modal">
    <div class="modal-header">
        <h3 class="modal-title">Delete Contact</h3>
    </div>
    <div class="modal-body">
        Are you sure you wish to delete <strong>{{::vm.contact.firstName}} {{::vm.contact.lastName}}</strong>?
    </div>
    <div class="modal-footer">
        <button id="delete-contact-modal-cancel" class="btn btn-link" ng-click="vm.cancel()">Cancel</button>
        <button id="delete-contact-modal-delete" class="btn btn-danger"
                ng-click="vm.remove()" ladda="vm.processing">Delete
        </button>
    </div>
</div>
